{% extends 'layout.html' %} {% block body %}
<!-- banner -->
<section class="banner_w3lspvt" id="crop">
	<div class="csslider infinity" id="slider1">
	
				<div style="background: url(../static/images/nn.jpg) no-repeat; background-size: cover;">
          
					<div class="overlay">
						<div class="container">
							<!-- <div class="w3layouts-banner-info text-center"> -->
								<br /><br />
<h2 style="text-align: center; margin: 0px; color: rgb(253, 253, 253)">
  <b>Find out the most suitable crop to grow in your farm</b>
</h2>
<br />

<div
  style="
    width: 350px;
    height: 50rem;
    margin: 0px auto;
    color: rgb(254, 253, 253);
    border-radius: 25px;
    padding: 10px 10px;
  "
>
  <form method="POST" action="{{ url_for('crop_prediction') }}">
    <div class="form-group" style="text-align: center;">
      <label for="Nitrogen" style="font-size: 17px"><b>Enter the Nitrogen Value</b></label>
      <input
        type="number"
        min="0"
        max="140"
        class="form-control"
        id="Nitrogen"
        name="nitrogen"
        placeholder="Range:0-140"
        min="0" max="140"
        style="font-weight: bold;text-align: center;"
        required
      />
    </div>
    <div class="form-group" style="text-align: center;" >
      <label for="Phosphorous" style="font-size: 17px;"><b>Enter the Phosphorous Value</b></label
      >
      <input
        type="number"
        class="form-control"
        id="Phosphorous"
        name="phosphorous"
        placeholder="Range:0-140"
        min="0" max="140"
        style="font-weight: bold;text-align: center;"
        required
      />
    </div>

    <div class="form-group" style="text-align: center;">
      <label for="Pottasium" style="font-size: 17px"><b>Enter the Pottasium Value</b></label>
      <input
        type="number"
        class="form-control"
        id="Pottasium"
        name="pottasium"
        placeholder="Range:0-200"
        min="0" max="200"
        style="font-weight: bold;text-align: center;"
        required
      />
    </div>
    <div class="form-group" style="text-align: center;">
      <label for="ph" style="font-size: 17px"><b>Enter the pH Value</b></label>
      <input
        type="number"
        step="0.01"
        class="form-control"
        id="ph"
        name="ph"
        placeholder="Range:0-14"
        min="0" max="14"
        style="font-weight: bold;text-align: center;"
        required
      />
    </div>
    <div class="form-group" style="text-align: center;">
      <label for="Rainfall" style="font-size: 17px"><b>Enter the Rainfall (in mm)</b></label>
      <input
        type="number"
        step="0.01"
        class="form-control"
        id="Rainfall"
        name="rainfall"
        placeholder="Enter the value"
        style="font-weight: bold;text-align: center;"
        required
      />
    </div>
    <div class="form-group" style="text-align: center;">
      <label for="State" style="font-size: 17px "><b>State</b></label>
      <select
        onchange="print_city('state', this.selectedIndex);"
        id="sts"
        name="stt"
        class="form-control"
        style="font-weight: bold; color: black; text-align: center;"
        
        required
      ></select>
      <br />
      <label for="City" style="font-size: 17px" style="text-align: center;"><b>City</b></label>
      <select
        id="state"
        class="form-control"
        name="city"
        style="font-weight: bold; color: black; text-align: center;"
        required
      ></select>
      <script language="javascript">
        print_state("sts");
      </script>
    </div>

    <div class="d-flex justify-content-center" style="text-align: center;">
      <button
        type="submit"
        class="btn btn-info"
        style="color: black; font-weight: bold; width: 130px; height:50px; border-radius:12px; font-size: 21px;"
      >
        Predict
      </button>
    </div>
  </form>
</div>
							</div>
						</div>
					</div>
				</div>
	</div>
</section>

{% endblock %}
